.main-menu {
    background-color: #d0d0d0;
    padding-top: 5px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}
.main-menu ul {
    display: flex;
    margin-top:0;
    margin-bottom:0;
}
body {
    background-color: #ebebeb;
    margin:0px;
    padding-top: 3%;
}

.body-width {
    max-width: 1024px;
    margin: 0 auto;
}

h1, h2, h3, h4, p, li, a {
    font-family: 'Roboto', serif;
}
.title-content {
    text-align: center;
}
.to-do-list {
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 5% 3% 5% 3%;
    background-color: #f6f6f6;
    border-radius: 15px;
    text-align: center;
    margin-top:45px;
}
ul {
    padding-left: 0px;
    list-style-type: none;
}
li {
    scale: 100% 100%;
    max-width: 95%;
    margin: 0 auto 10px auto;
    transition: .25 all;
}

ul ul {
    padding-left:20px;
    list-style-type: disc;
}
.to-do-list li:hover {
    scale: 101% 101%;
    transition: .25s all;
}
li.not-done {
    color:red;
}

li.done {
    color: #ffffff;
    background-color: green;
    border-radius: 5px;
    transition: .25s all;
}
li.done a {
    color:#ffffff;
    text-decoration: none;
    display: block;
    padding:1.1%;
    /* transition: .75s all; */
}
a {
    color: #333333;
    text-decoration: none;
}

.content-card {
    background-color: #ffffff;
    padding: 5%;
    border-radius: 15px;
    margin-bottom: 35px;
}

a.to-do-button {
    background-color: #5daf68;
    color: #ffffff;
    padding: 1%;
    border-radius: 5px;
    display: block;
    max-width: 140px;
    text-align: center;
    transition: .50s all;
}

a.to-do-button:hover {
    background-color: #52995c;
    transition: .50s all;
}

.completed-work-wrapper {
    opacity: .5;
    transition: .50s all;
}

.completed-work-wrapper:hover {
    opacity: 1;
    transition: .50s all;
}

.keep-em-seperated {
    display: block;
    height: 2px;
    background-color: #909090;
}